# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE
.idea

# Ignore Apple DS_Store
.DS_Store

# Ignore checksums and release-notes
checksums-v*.txt
release-notes-v*.md
